.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.MuiInputBase-root {
  background-color: rgb(238, 238, 238);
}