.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  margin: 15px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.MuiInputBase-root {
  background-color: rgb(238, 238, 238);
}

.inline-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

hr {
  color: black;
  width: 330px;
  opacity: 50%;
}
